# dotenv Example File
# Copy this file to .env and fill in your actual values

# Token used to enable authentication to Discord (if you're doing bot development)
# Contact a site admin if you need this.
DISCORD_TOKEN=??????

# Token used to enable API workflow activation via GitHub Actions
GITHUB_TOKEN=??????

# Google Drive ID (from the URL: https://drive.google.com/drive/folders/{DRIVE_ID})
# This is the root directory that PVLS uses, and should contain a "Vocaloid Lead Sheets Progress"
# spreadsheet inside of it, as well as specific folders like "Lead Sheets".
GOOGLE_DRIVE_ID=1SOXrZuHqaj_JLTEEjUCsM5YBnqhARUhi

# Google Sheet ID (from the URL: https://docs.google.com/spreadsheets/d/{SHEET_ID}/edit)
GOOGLE_SHEET_ID=long string of letters and numbers

# Google Sheet Tab Name (displayed on the specific tab selected)
# Defaults to the first index if not set
GOOGLE_SHEET_WORKSHEET_NAME=Sheet 1

# Path to your Google Service Account JSON file
GOOGLE_SERVICE_ACCOUNT_JSON_FILE=fancy_credentials.json
