@page "/"

<PageTitle>Home</PageTitle>

<h1>Vocaloid Lead Sheets</h1>

<p>Welcome Vocaloid Lead Sheets! Inspired by others sites such as vgleadsheets.com and ninsheetmusic.org, we are a group of Vocaloid enthusiasts
who wanted to create lead sheets of Vocaloid so people can jam to or make their own arrangements!</p>
